* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.align-flex-start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
}

img {
    width: 412px;
    height: 180px;
}

h1 {
    font-weight: bold;
    font-size: 45px;
}

.section-all {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
    gap: 30px;
}

.background {
    margin-left: 10px;
    width: 300px;
    padding: 15px;
    background-color: blueviolet;
    align-items: center;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(236, 190, 209, 0.552);
}

.h2 {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.preparation-time {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
}

.ingredients {
    font-weight: bold;
    font-size: 30px;
}

.recipe-pass {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
    width: 250px;
}

.instructions {
    font-weight: bold;
    font-size: 30px;
    padding-right: 90px;
}

.recipe-orders {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
    width: 250px;
}

.nutrition {
    font-weight: bold;
    font-size: 30px;
    padding-right: 130px;
}

.paragraph-secundary {
    width: 300px;
    margin-right: -50px;
}

.posicione {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left {
    margin-right: 70px;
}

th {
    padding: 8px;
  }

  @media (min-width: 700px) {

    .background {
        margin-left: 10px;
        width: 600px;
        padding: 15px;
        background-color: blueviolet;
        align-items: center;
        display: flex;
        border-radius: 10px;
        justify-content: flex-start;
        flex-direction: column;
        background-color: rgba(236, 190, 209, 0.552);
    }

    .ingredient-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 300px;
        gap: 10px;
    }
}