* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(236, 190, 209, 0.552);
    font-family: Arial, Helvetica, sans-serif;
}

.align-flex-start {
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

.section-all {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px;
    gap: 30px;
}

.background {
    width: 100%;
    padding: 15px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgba(236, 190, 209, 0.552);
}

.h2 {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.preparation-time {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
    margin-left: 6px;
}

.ingredients {
    font-weight: bold;
    font-size: 30px;
}

.recipe-pass {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
}

.instructions {
    font-weight: bold;
    font-size: 30px;
    padding-right: 90px;
}

.recipe-orders {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
}

.nutrition {
    font-weight: bold;
    font-size: 30px;
    padding-right: 130px;
}

.fourth-section {
    width: 100%;
}

.paragraph-secundary {
    width: 300px;
    margin-right: -50px;
}


table {
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

th {
    padding-right: 100px;
}

td {
    padding-left: 20px;
}
@media (min-width: 600px) {

    .align-flex-start {
        padding: 32px;
        width: 600px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ingredient-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .paragraph-secundary {
        width: 500px;
    }

    .left {
        margin-right: 200px;
    }

    table {
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
    }

    th {
        padding-right: 250px;
    }

    td {
        padding-left: 20px;
    }
}